name: ⬇️ Install All
description: "NPM Install All Packages"
inputs:
  GOOGLE_API_KEY:
    description: "GOOGLE_API_KEY for web-app install"
    required: true
runs:
  using: "composite"
  steps:
    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 20
        cache: "npm"ß
        cache-dependency-path: "*/package-lock.json"

    - uses: actions/checkout@v2
    - name: ⬇️ Install All
      working-directory: ./
      env:
        # Required for .env creation on web_app
        GOOGLE_API_KEY: ${{ inputs.GOOGLE_API_KEY }}
      shell: bash
      run: |
        chmod +x ./setup.sh
        ./setup.sh
